@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-background-light: #ffffff;
  --color-surface-light: #F9F9F9;
  --color-text-light: #111111;
  --color-muted-light: #757575;
  --color-border-light: #E0E0E0;

  --font-display: var(--font-inter), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

@layer base {
  body {
    @apply font-body bg-background-light text-text-light antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}